// Variable
$time-transition        : 0.5s;
$white                  : #FFF;
$black                  : #000;
$bg-main                : #dadada;

$border-title           : #4d4d4d;

$color-gray             : #848383;
$color-green            : #7e9977;
$color-cat              : #bebdbd;